/* DEVELOPER: Brian Gomez, IS117-102, Spring 2022 --> */
body
{
	background-color:#ffffff;
}
#body_header
{

	width:auto;
	margin:0px auto;
	text-align:center;
	font-size:25px;
}
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #039bb6;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  color: rgb(22, 22, 22);
}

p{
    margin: 0 0 30px 0;
  text-align: center;
  color: rgb(22, 22, 22);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: rgb(22, 22, 22);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"]

{
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #750000ec;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #750000d2;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: rgba(22, 22, 22, 0.486);
}

label {
  display: block;
  margin-bottom: 8px;
  color: rgba(22, 22, 22, 0.486);
}

.list-color{
    color:rgba(22, 22, 22, 0.486);
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #a00000ef;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
  border-radius: 100%;
}

#num-color{
    color:black;
}

  form {
    max-width: 480px;
  }

