/* DEVELOPER: Brian Gomez, IS117-102, Spring 2022 --> */

@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");
html {
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #6F8BA4;
  font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 44px;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}

.footer-btm{
  position: relative;
  height: 300px;
  width: 100%;
}

p.cop{
  color: rgb(0, 0, 0);
    line-height: 40px;
    font-size: 0.7em;
}

.card{
  border-style: solid;
        border-width: 1px;
        border-color: red;

}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit:fill;
}

.card-cont{
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-left: 400px;
  margin-right: 400px;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-body{
  text-align: center;
}
.col-lg-6 .h4{
    font-size: 0.85rem;
}

.navbar-toggle .icon-bar {
  background: #039bb6;
}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    #navbarmain {
        padding: 20px 0px;
      }
      
      #navbarmain .nav-link {
        font-weight: 600;
        padding: 10px 15px;
        margin-top: 50px;
        float: right;
        color: rgb(0, 0, 0);
        font-family: "Exo", sans-serif;
        text-transform: capitalize;
        font-size: 16px;
        transition: all .25s ease;
      }
      
      .dropdown-toggle::after {
        display: none;
      }
      
      .navbar-brand {
        margin-top: -5px;
        margin-left: 0px;
      }

      .button {
        display: flex;
  align-items: center;
  justify-content: center;
        font-size: 14px;
        font-size: 0.8125rem;
        font-weight: 700;
        letter-spacing: .5px;
        padding: .75rem 2rem;
        font-family: "Exo", sans-serif;
        text-transform: uppercase;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: all .35s ease;
        position: relative;
      }
      
      .dropdown .dropdown-menu {
        position: absolute;
        display: block;
        background: #fff;
        min-width: 240px;
        top: 130%;
        left: 0;
        right: 0px;
        opacity: 0;
        padding: 0px;
        visibility: hidden;
        transition: all 0.3s ease-out 0s;
        border: 0px;
        border-top: 5px solid #e12454;
        border-radius: 0px;
      }

      .page-title-about {
        padding: 120px 0px 70px 0px;
        position: relative;
        background-color: rgba(126, 126, 126, .15);
        
      }

      .page-title-about .text-black{
        position: relative;
        color: black;
        
      }

      .page-title-about .text-capitalize{
        position: relative;
        color: black;
        
      }

      .page-title {
        padding: 15px 0px 15px 0px;
        position: relative;
        
      }
      
      .page-title .block h1 {
        color: rgb(0, 0, 0);
      }
      
      .page-title .block p {
        color: rgb(0, 0, 0);
      }
      
      .page-title .breadcumb-nav {
        margin-top: 60px;
        padding-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, 0.06);
      }

      .features {
        margin-top: -70px;
      }
      
      .feature-item {
        flex-basis: 33.33%;
        margin: 0px 10px;
        padding: 40px 30px;
        background-color: #fff;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
      }
      
      .feature-item .feature-icon i {
        font-size: 50px;
        color: #223a66;
      }
      
      .feature-item h4 {
        color: #223a66;
      }
      
      .feature-item p {
        font-size: 14px;
      }
      
      .feature-section.border-top {
        border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
      }

      .cta {
        background: url("../images/bg/bg-4.jpg") no-repeat 50% 50%;
        background-size: cover;
        position: relative;
      }

      .cta-page {
        background: url("../images/bg/banner.jpg") no-repeat;
        background-size:cover;
        position: relative;
        
      }
      

      #priv
      {
        margin-top: -5px;
        margin-left: 390px;
        display: block;
        height: auto;
        width: 50%;
      }

      #priv h1
      {
        font-family: "Exo", sans-serif;
        font-size: 36px;
        margin-left: 23px;
        display: block;
      }

      #priv h2
      {
        font-family: "Exo", sans-serif;
        margin-left: 23px;
      }

      #priv h3
      {
        font-family: "Exo", sans-serif;
        margin-left: 23px;
      }

      #priv h4
      {
        font-family: "Exo", sans-serif;
        margin-left: 23px;
      }

      #priv p
      {
        font-family: "Exo", sans-serif;
        margin-left: 23px;
      }

      .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 115%;
      }
      
      .dropdown .dropdown-item {
        padding: 13px 20px;
        border-bottom: 1px solid #eee;
        background: transparent;
        font-weight: 400;
        color: #555;
      }
      
      .dropdown .dropdown-item:hover {
        color: #e12454;
      }
      
 
    .row.content {height: 450px}

    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    .header-top-bar {
        background: #039bb6;
        font-size: 14px;
        padding: 10px 0px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        color: #fff;
      }

      .top-bar-info li a {
        color: #fff;
        margin-right: 20px;
      }
      
      .top-right-bar a span {
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
      }
      
      .top-right-bar a i {
        color: #fff;
        margin-right: 10px;
      }

    footer {
      background-color: #ffffff;;
      color: rgb(0, 0, 0);
      padding: 15px;
    }

    .logo {
        font-weight: 600;
        letter-spacing: 1px;
      }
      
      .logo h3 {
        color: #039bb6;
      }
      
      .logo span {
        color: #039bb6;
      }

      .about-img img {
        border-radius: 5px;
        box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
      }

      .banner {
        position: relative;
        overflow: hidden;
        background: rgb(158, 21, 21);
        background: url("../images/bg/bg-1.jpg") no-repeat;
        background-size: cover;
        min-height: 550px;
      }
      
      .banner .block {
        padding: 80px 0px 160px;
      }
      
      .banner .block h1 {
        font-size: 60px;
        line-height: 1.2;
        letter-spacing: -1.2px;
        text-transform: capitalize;
        color: #7500009d;
      }

      .block span{
          color: rgb(0, 0, 0);
          font-size: 30px;
          font-family: 'Courier New', monospace;
          font-weight: 100;
      }

      .block p{
        color: rgb(0, 0, 0);
        font-family: 'Courier New', monospace;
        font-size: 25px;
        font-weight: 100;
    }
      .btn {
        display: inline-block;
        font-size: 14px;
        font-size: 0.8125rem;
        font-weight: 700;
        letter-spacing: .5px;
        padding: .75rem 2rem;
        font-family: "Exo", sans-serif;
        text-transform: uppercase;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: all .35s ease;
      }
      
      .btn.btn-icon i {
        border-left: 1px solid rgba(255, 255, 255, 0.09);
        padding-left: 15px;
      }
      
      .btn:focus {
        outline: 0px;
        box-shadow: none;
      }
      
      .btn-main {
        background:#7500009d;
        color: #fff;
        border-color: #990000c5;
        text-align: center;
        padding: 19px 39px 18px 39px;
        border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
      }
      
      .btn-main:hover {
        background: #3965b8;
        border-color: #5b91f7;
        color: #fff;
      }
      
      .btn-main-2 {
        background: #7500009d;
        color: #fff;
        border-color: #990000c5;
      }
      
      .btn-main-2:hover {
        background: #3965b8;
        color: #fff;
        border-color: #5b91f7;
      }
      
      .btn-solid-border {
        border: 2px solid #223a66;
        background: transparent;
        color: #223a66;
      }
      
      .btn-solid-border:hover {
        border: 2px solid #223a66;
        color: #fff;
        background: #223a66;
      }
      
      .btn-solid-border:hover.btn-icon i {
        border-left: 1px solid rgba(255, 255, 255, 0.09);
      }
      
      .btn-solid-border.btn-icon i {
        border-left: 1px solid rgba(0, 0, 0, 0.09);
      }
      
      .btn-transparent {
        background: transparent;
        color: #222;
        border-color: #6F8BA4;
      }
      
      .btn-transparent:hover {
        background: #6F8BA4;
        color: #fff;
      }
      
      .btn-white {
        background: #fff;
        border-color: #fff;
        color: #222;
      }
      
      .btn-white:hover {
        background: #223a66;
        color: #fff;
        border-color: #223a66;
      }
      
      .btn-solid-white {
        border-color: #fff;
        color: #fff;
      }
      
      .btn-solid-white:hover {
        background: #fff;
        color: rgb(255, 255, 255);
      }
      
      .btn-round {
        border-radius: 4px;
      }
      
      .btn-round-full {
        border-radius: 50px;
      }
      
      .btn.active:focus, .btn:active:focus, .btn:focus {
        outline: 0;
      }

      .divider {
        width: 40px;
        height: 5px;
        background: #e12454;
      }

      .appoinment-content .emergency i {
        margin-right: 10px;
        color: rgba(255, 0, 0, 0.7);
      }

      a {
        color: rgb(156, 0, 0);
        text-decoration: none;
        transition: all .35s ease;
      }

      .WebContainer{
        width:100%;
        min-width:1000px;
        height:auto;
    }

      @media (max-width:1400px) {
        .navbar .navbar-brand .header-top-bar .banner{
          height: auto;
        }
    }
 
    @media screen and (max-width: 767px) {
      .sidenav img{
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    @media (max-width: 480px) {
      .banner .block h1 {
        font-size: 38px;
        line-height: 50px;
      }
      .banner .banner img{
        min-height: 450px;
        background: #fff !important;
      }
    }
    
    @media (max-width: 400px) {
      .banner .block h1 {
        font-size: 28px;
        line-height: 40px;
      }
      .banner {
        min-height: 450px;
        background: #fff !important;
      }
    }
    
    @media (max-width: 768px) {
      .banner .block h1 {
        font-size: 56px;
        line-height: 70px;
      }
      .banner {
        background: #fff !important;
      }
    }
    
    @media (max-width: 992px) {
      .banner {
        background: #fff !important;
      }
    }